// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ask {
  display: flex;
  border-radius: 5px;
  padding: 0px;
  align-items: center;
}

.question {
  margin-left: 20px;
  border-left: 5px solid grey;
  padding-left: 20px;
  width: 500px;
}

.answer {
  margin-left: 20px;
  border-left: 5px solid grey;
  padding-left: 20px;
  background-color: #FEFEE2;
  width: 500px;
}

.link {
  text-decoration: none;
}

.input {
  margin: 0px;
  padding:10px;
  border: none;
  min-width: 400px;
  flex: 1 1 400px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid grey;

}

.btn {
  padding: 10px;
  background: #5479B1;
  margin: 0px -5px;
  border: none;
  width:75px;
  color: white;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #5479B1;
}
